# Group50 Yicheng Wang(980542)

In [1]:
import numpy as np 
import pandas as pd

In [2]:
mid0 = pd.read_csv("df_mid0.csv")
mid0 = mid0.dropna()
mid0 = mid0.drop(columns=['Unnamed: 0'])


west0 = pd.read_csv("df_west0.csv")
west0 = west0.dropna()
west0 = west0.drop(columns=['Unnamed: 0'])


east0 = pd.read_csv("df_east0.csv")
east0 = east0.dropna()
east0 = east0.drop(columns=['Unnamed: 0'])

In [3]:
mid1 = pd.read_csv("df_mid1.csv")
mid1 = mid1.dropna()
mid1 = mid1.drop(columns=['Unnamed: 0'])


west1 = pd.read_csv("df_west1.csv")
west1 = west1.dropna()
west1 = west1.drop(columns=['Unnamed: 0'])


east1 = pd.read_csv("df_east1.csv")
east1 = east1.dropna()
east1 = east1.drop(columns=['Unnamed: 0'])

In [4]:
mid0["text length"]= mid0["value_x"].str.len()
east0["text length"]= east0["value_x"].str.len()
west0["text length"]= west0["value_x"].str.len()
mid1["text length"]= mid1["value_x"].str.len()
east1["text length"]= east1["value_x"].str.len()
west1["text length"]= west1["value_x"].str.len()

In [5]:
hour = []
for i in range(len(mid0['value_x'])):
    hour_cur =  int(mid0['time'][i][11:13])
    hour.append(hour_cur)
mid0["hour"] = hour 

hour = []
for i in range(len(west0['value_x'])):
    hour_cur =  int(west0['time'][i][11:13])
    hour.append(hour_cur)
west0["hour"] = hour 

hour = []
for i in range(len(east0['value_x'])):
    hour_cur =  int(east0['time'][i][11:13])
    hour.append(hour_cur)
east0["hour"] = hour 

hour = []
for i in range(len(mid1['value_x'])):
    hour_cur =  int(mid1['time'][i][11:13])
    hour.append(hour_cur)
mid1["hour"] = hour 

hour = []
for i in range(len(west1['value_x'])):
    hour_cur =  int(west1['time'][i][11:13])
    hour.append(hour_cur)
west1["hour"] = hour 

hour = []
for i in range(len(east1['value_x'])):
    hour_cur =  int(east1['time'][i][11:13])
    hour.append(hour_cur)
east1["hour"] = hour

In [6]:
df_zero = pd.concat([mid0, east0, west0])
df_one = pd.concat([mid1, east1, west1])

In [7]:
df_zero = df_zero.drop(columns=['value_x'])
df_one = df_one.drop(columns=['value_x'])

In [8]:
df_zero = df_zero.drop(columns=['time'])
df_one = df_one.drop(columns=['time'])

In [9]:
df_one

,id,value_y,group,language,follower,friend,text length,hour
0,1394965330578055168,-0.333333,mid,en,29,1389,142,10
1,1394965332650045441,-0.063889,mid,en,545,906,142,10
2,1394965334239629315,0.500000,mid,en,52,65,35,10
3,1394965335762210823,-0.500000,mid,en,44,79,142,10
4,1394965341005045760,0.012500,mid,en,668,280,96,10
...,...,...,...,...,...,...,...,...
265,1395534098538504192,-0.316667,west,en,333,438,37,0
266,1395537708622127105,0.075000,west,en,190,1534,142,0
267,1395538595960659972,0.600000,west,en,190,1534,81,0
268,1395542204479787013,0.116667,west,en,333,438,60,0
269,1395545141771857923,0.136364,west,en,333,438,92,1

In [10]:
df_one['group'] = df_one['group'].astype('category')
df_one['group'] = df_one['group'].cat.reorder_categories(['mid', 'east', 'west'], ordered=True)
df_one['group'] = df_one['group'].cat.codes

In [11]:
df_one['language'] = df_one['language'].astype('category')
df_one['language'] = df_one['language'].cat.reorder_categories(df_one['language'].unique(), ordered=True)
df_one['language'] = df_one['language'].cat.codes

In [12]:
df_one['hour'] = df_one['hour'].astype('category')
df_one['hour'] = df_one['hour'].cat.reorder_categories(df_one['hour'].unique(), ordered=True)
df_one['hour'] = df_one['hour'].cat.codes

In [13]:
df_one

,id,value_y,group,language,follower,friend,text length,hour
0,1394965330578055168,-0.333333,0,0,29,1389,142,0
1,1394965332650045441,-0.063889,0,0,545,906,142,0
2,1394965334239629315,0.500000,0,0,52,65,35,0
3,1394965335762210823,-0.500000,0,0,44,79,142,0
4,1394965341005045760,0.012500,0,0,668,280,96,0
...,...,...,...,...,...,...,...,...
265,1395534098538504192,-0.316667,2,0,333,438,37,21
266,1395537708622127105,0.075000,2,0,190,1534,142,21
267,1395538595960659972,0.600000,2,0,190,1534,81,21
268,1395542204479787013,0.116667,2,0,333,438,60,21
269,1395545141771857923,0.136364,2,0,333,438,92,22

In [14]:
y=df_one['value_y']
X=df_one[['group','language','friend','text length','hour']]

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [24]:
from sklearn.dummy import DummyRegressor
dummy_regr = DummyRegressor(strategy="mean")
dummy_regr.fit(X_train, y_train)
y_pred=dummy_regr.predict(X_test)

In [25]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

0.1255251704972349

In [26]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train, y_train)
y_pred=reg.predict(X_test)
mean_squared_error(y_test, y_pred)

0.12383396042746529

In [27]:
from sklearn.linear_model import ElasticNet
elastic_net = ElasticNet().fit(X_train, y_train)
y_pred=elastic_net.predict(X_test)
mean_squared_error(y_test, y_pred)

0.12513489820821072

In [20]:
from sklearn.model_selection import GridSearchCV
alpha = [0.001, 0.01, 0.1, 1, 10, 100, 1000]
l1_ratio = [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1]
param_grid = dict(alpha=alpha, l1_ratio=l1_ratio)
grid = GridSearchCV(estimator=elastic_net, param_grid=param_grid, scoring='r2', verbose=1, n_jobs=-1)
grid_result = grid.fit(X_train, y_train)
print('Best Score: ', grid_result.best_score_)
print('Best Params: ', grid_result.best_params_)

Fitting 5 folds for each of 77 candidates, totalling 385 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    6.2s
[Parallel(n_jobs=-1)]: Done 344 tasks      | elapsed:    8.3s

Best Score:  0.012643854402864751
Best Params:  {'alpha': 0.001, 'l1_ratio': 0}

[Parallel(n_jobs=-1)]: Done 385 out of 385 | elapsed:    8.5s finished
C:\Users\www79\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 794.5941586563384, tolerance: 0.16119330031054144
  positive)

In [21]:
elastic_net = ElasticNet(alpha=0.001,l1_ratio=0).fit(X_train, y_train)
y_pred=elastic_net.predict(X_test)
mean_squared_error(y_test, y_pred)

C:\Users\www79\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 794.5941586563384, tolerance: 0.16119330031054144
  positive)

0.12383437430033793